
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* font-size: 62.5%; */
}
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #25233c;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --primary-color: #6259ca;

  --primary-color-1: #edebff;
  --primary-color-2: #8f9cc9;
  --primary-color-3: #818db9;
  --primary-color-5: #cbd5f8ea;
  --primary-color-4: #403fad;
  --primary-color-6: #c6c1ff;
  --primary-color-7: #5a626f;
  --primary-color-8: #f16d75;

  /*===== Font and typography =====*/
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --primary-background: #eaedf7;

  /*===== z index =====*/
  --z-fixed: 100;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #DDE0E5; */
  background-color: var(--primary-background);
  color: #252525;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


